.Gif{
    border: 1px solid hsl(0, 0%, 93%);
    border-radius: 6px;
    color: white;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 16px;
    margin: 16px;
    text-decoration: none;
}
.Gif h4{margin: 0;}


.Gif img{
    object-fit: contain;
}